<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DragonExMiningSampleCSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DragonExMiningSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DragonExMiningSampleCSharp.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>C:\DragonEx\Apis</value>
            </setting>
            <setting name="LogLevels" serializeAs="String">
                <value>INFO,TRACE,ERROR</value>
            </setting>
            <setting name="RunMode" serializeAs="String">
                <!--TEST,NORMAL-->
                <value>NORMAL</value>
            </setting>
            <setting name="DragonEx_KeyA" serializeAs="String">
                <value>***</value>
            </setting>
            <setting name="DragonEx_SecretA" serializeAs="String">
                <value>***</value>
            </setting>
            <setting name="DragonEx_KeyB" serializeAs="String">
                <value>***</value>
            </setting>
            <setting name="DragonEx_SecretB" serializeAs="String">
                <value>***</value>
            </setting>
            <setting name="MultiLanguage" serializeAs="String">
                <!--English,Chinese-->
                <value>Chinese</value>
            </setting>
        </DragonExMiningSampleCSharp.Properties.Settings>
    </userSettings>
</configuration>